html {
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Rubik', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
  margin: auto;
  max-width: 75%;
  padding: 2rem;
}

.media-left {
  margin-right: 8%;
}

.media-right {
  margin-left: 8%;
}

#waiting-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  margin-top: 30vh;
  text-align: center;
}

.middle-column {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

 .left-column {
  padding-right: 0px;
}

.right-column {
  text-align: right;
  padding-left: 0px;
}

.middle-text {
  height: 8vh;
  text-align: center;
  margin: 1vh 1vh 1vh 1vh;
  font-family: 'Rubik', sans-serif;
  color: white;
  white-space: nowrap;
}

.middle-text > p {
  font-size: 80%;
  display: inline-block;
  vertical-align: top;
}

.blue {
  color: #2980b9;
  white-space: pre;
}

.red {
  color: rgb(211, 79, 79);
  white-space: pre;
}

.center-self {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold-text, .title {
  color: white;
}

/* Tooltip container */
.tooltip {
  position: absolute;
  left: 50%;
  right: 50%;
  display: inline-block;
  font-size: 70%;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: rgba(100,100,100,.9);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  bottom: 100%;
  left: 50%;
  margin-left: -65px;
  font-size: 80%;
  overflow: scroll;
  white-space: pre;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;

}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}