html {
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Rubik', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
  margin: auto;
  max-width: 75%;
  padding: 2rem;
}

.media-left {
  margin-right: 8%;
}

.media-right {
  margin-left: 8%;
}

#waiting-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  margin-top: 30vh;
  text-align: center;
}

.middle-column {
  text-align: center;
}

.right-column {
  text-align: right;
}

.center-self {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold-text, .title {
  color: white;
}